<!DOCTYPE html>
<html>

    <head>
        <title>baran's api playground</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>

    <body>
        <h1>welcome to my playground</h1>
        <p>unfortunately, there won't be an api explorer for a while 😔</p>
        <p>here, have a handmade list instead</p>
        <ul>
            <li>
                <a href="/its">its scraper</a>
            </li>
        </ul>
        <footer>
            <b>ps.</b>
            <p>
                these are all proof of concept things so don't even think about breaking stuff
                <br>
                i assure you, they <u>will</u> break
            </p>
        </footer>
    </body>

</html>
