<!DOCTYPE html>
<html>

    <head>
        <title>its scraper</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://unpkg.com/milligram@1.3.0/dist/milligram.min.css" />
    </head>

    <body>
        <main class="wrapper" style="padding-top:2em">
            <section class="container" id="demo-content">
                <div id="err"></div>
                <div>
                    <a class="button" id="startButton">Start</a>
                    <a class="button" id="resetButton">Reset</a>
                </div>

                <div>
                    <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
                </div>

                <div id="sourceSelectPanel" style="display:none">
                    <label for="sourceSelect">Change video source:</label>
                    <select id="sourceSelect" style="max-width:400px">
                    </select>
                </div>

                <p>> you will get redirected when the data matrix gets recognized</p>
                <h4 id="error"></h4>
        </main>

        <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
        <script type="text/javascript" src="/js/its.js"></script>
    </body>

</html>
